<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
      </dataSources>
      <settings>


        <setting name="WALLET_LOCATION" value="D:\home\site\wwwroot\DB"/>
        <setting name="TNS_ADMIN" value="D:\home\site\wwwroot\DB"/>

      </settings>
    </version>
  </oracle.manageddataaccess.client>

</configuration>